<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bs/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bstable/src/extensions/editable/bootstrap-editable.css">
    <link rel="stylesheet" href="/static/bstable/dist/bootstrap-table.css">
</head>
<body>
    <div class="panel-body" style="padding-bottom:0;">

        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="btn_delete" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>
        <table id="servers"></table>
    </div>
</body>

<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bs/dist/js/bootstrap.js"></script>
<script src="/static/bstable/dist/bootstrap-table.js"></script>
<script src="/static/bstable/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/static/bstable/src/extensions/editable/bootstrap-table-editable.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script src="/static/custom/my.js"></script>

<script>
    $(function () {

        $.ajax({
            type: 'POST',
            url : '/backend/get_config/',
            data: {'tablename':'servers'},
            success: function(data){
                coldata = JSON.parse(data);
                console.log(coldata);
                coldata.unshift({
                    checkbox: true
                });
                initTable('servers', coldata, '/backend/ajax_server/');
            }
        });

        $("#btn_delete").click(function(){
            deleteData('servers');
        });



    });








</script>
</html>